
body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 15px;
}

input {
  height: 35px;
  width: 150px;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

button {
  height: 54px;
  width: 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1144px;
  margin: 100px auto;
}

.wrap {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.col {
  width: 300px;
  margin-right: 100px;
}